<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Regression Suite" verbose="1">

    <test name="Chrome Tests" >
        <parameter name="OS" value="Win 10"></parameter>
        <parameter name="browser" value="chrome"></parameter>
        <classes>
          <class name="com.qascript.testCases.TC04_VerifyBottomProductCategories"></class>
        </classes>
    </test>

    <test name="Firefox Tests">
        <parameter name="OS" value="Win 10"></parameter>
        <parameter name="browser" value="firefox"></parameter>
        <classes>
            <class name="com.qascript.testCases.TC04_VerifyBottomProductCategories"></class>
        </classes>
    </test>

</suite>
